Flask 
Flask-SQLAlchemy 
Flask-Migrate 
Flask-RESTful 
Flask-Admin 
Flask-WTF 
flask-ckeditor 
redis 
googletrans
bleach
flask_caching
flask-redis
flask_cors
python-dotenv
requests
boto3
beautifulsoup4
pytest