{% extends "base.jinja2" %}

{% block content %}
    <h2>Add FAQ</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        
        <div class="mb-3">
            <label class="form-label">{{ form.question.label }}</label>
            {{ form.question(class="form-control") }}
        </div>

        <div class="mb-3">
            <label class="form-label">{{ form.answer.label }}</label>
            {{ form.answer(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
